.buttonContainer{
    width: 100%;
}

button{
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    background: linear-gradient(180deg, rgb(0, 139, 121) 0%, rgb(16, 0, 247) 100%);
}