.buttonContainer{
    width: 100%;
}

button{
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    background: linear-gradient(180deg, rgba(8,55,0,1) 0%, rgba(0,247,178,1) 100%);
}