.cardBooks{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #DEDEDE;
    border: 1px solid blue;
    font-family: Helvetica;
    background: rgb(43,55,60);
    background: linear-gradient(0deg, rgba(43,55,60,1) 0%, rgba(0,134,255,1) 100%);
}

.title{
    font-size: 12px;
}

.author{
    font-size: 10px;
}

img{
    width: 150px;
    border-radius: 5px;
}