.create_books_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.create_books_container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.cardBooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(43,55,60,1) 0%, rgba(0,134,255,1) 100%);
    padding: 10px;
    width: 100%;
}

img {
    width: 150px;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

.input, .select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
